*{
    
    background-color: cadetblue;
}

#menu-logo{

}

.contacto{
    font-family: cursive;
    font-size: larger;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color: antiquewhite;
    cursor: pointer;
   
    
}

.teachers{

    font-family: cursive;
    font-size: larger;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color: antiquewhite;
    cursor: pointer;
      
}

.singup{
    
    font-family: cursive;
    font-size: larger;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color: antiquewhite;
    cursor: pointer;
     

}


.singin{
   
    font-family: cursive;
    font-size: larger;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color: antiquewhite;
    cursor: pointer;
    
    
}

.menucontainer {
    
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    align-content: flex-end;
    
}

.parrafo{
    
    margin : 60px;
    padding : 20px;
    border: 3px solid white;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color: #f0ffff;
    text-align: center;
    border-radius: 10px;

    
}

.img1{
     width: 400px;
     margin: 100px;
     background-blend-mode: multiply;
     backface-visibility: visible;
     background-repeat: no-repeat;

}

.section{
   width: 400px;
   margin: 100px;
   padding: 10px;
   border: 1px solid black;
   border-radius: 10px 20px 20px 10px;
   background-blend-mode: luminosity;
   background-repeat: no-repeat;
 
}

.parrafo2{
    margin: 5px;
    padding: 10px;
    border: 1px solid black;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000000;
    
}

.enlace{
    margin: 30px;
    margin-bottom: 20px;
    font-family: fantasy;
    font-size: larger;
    text-align: left;
    text-transform: uppercase;
    color: darkblue;
    text-decoration: none;
    cursor: pointer;
}

.fa-brands.fa-linkedin{

   border: none;
   color: white;
   text-align: right;
   text-decoration: none;
   display: inline-block;
   font-size: 40px;
   margin: 4px 2px;
   border: 5px solid white;
   cursor: pointer;

    
}


.fa-brands.fa-twitter{

border: none;
color: white;
text-align: right;
text-decoration: none;
display: inline-block;
font-size: 40px;
margin: 4px 2px;
border: 5px solid white;
cursor: pointer;

}

.fa-solid.fa-user{


border: none;
color: white;
text-align: right;
text-decoration: none;
display: inline-block;
font-size: 40px;
margin: 4px 2px;
border: 5px solid white;
cursor: pointer;

}

.fa-solid.fa-comment{

border: none;
color: white;
text-align: right;
text-decoration: none;
display: inline-block;
font-size: 40px;
margin: 4px 2px;
border: 5px solid white;
cursor: pointer;

}

.footer{

    font-family: fantasy;
    font-size: larger;
    text-align: center;
    text-decoration: underline;
    
}